services:
  - type: web
    name: goal-scanner-full
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn app:app -k uvicorn.workers.UvicornWorker --timeout 0"
    autoDeploy: true
