fastapi==0.115.0
uvicorn[standard]==0.34.0
gunicorn==22.0.0
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.2.2
apscheduler==3.10.4
python-dotenv==1.0.1
pytz==2024.2
rich==13.7.1
orjson==3.10.6
aiohttp==3.10.5
certifi==2024.8.30
Jinja2==3.1.4


