fastapi
uvicorn
gunicorn

requests
beautifulsoup4
lxml

apscheduler

python-dotenv

pytz

# Logs e utilidades
rich

# Caso seu código use parsing JSON mais rápido
orjson

# Caso fontes externas retornem HTML pesado
aiohttp

# Compatível com a Render, evita problemas de versão
certifi
